################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*/.vs/*

/obj
*/obj/*
/RefferalLinksBackEnd/RefferalLinks.Common/obj/Debug/net6.0/RefferalLinks.Common.csproj.AssemblyReference.cache
