################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*/.vs/*
*.vs/*
*.bin
/.Debug
/.obj
/.Release
*/Release/*
*/Debug/*
*/obj/*
